xml i xsd/albara.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="albara" type="tipusAlbara"/>
  
  <xs:complexType name="tipusAlbara">
    <xs:sequence>
      <xs:element name="codiComanda" type="tipusCodi"/>
      <xs:element name="data" type="xs:date"/>
      <xs:element name="articles" type="tipusArticles"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="tipusCodi">
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="tipusArticles">
    <xs:sequence>
      <xs:element name="article" type="tipusArticle"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="tipusArticle">
    <xs:sequence>
      <xs:element name="codiArticle" type="tipusCodiArticle"/>
      <xs:element name="quantitat" type="xs:int"/>
      <xs:element name="preu" type="xs:int"/>
      <xs:element name="rebut" type="tipusRebut"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="tipusCodiArticle">
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipusRebut">
    <xs:restriction base="xs:string">
      <xs:pattern value="Si|No"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
